// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1400) {
    max-width: 1100px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 750px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  &.locked {
    overflow: hidden;
  }
  font-family: $fontMain;
  color: $defaultColor;
  font-size: $defaultFontSize;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.link {
  cursor: pointer;
  font-weight: 700;
  transition: $transition;
  color: $accentColor;
  &:hover {
    color: $accentColor;
    text-decoration: underline;
  }
}

.btn {
  color: $white;
  font-weight: 700;
  background-color: $accentColor;
  transition: $transition;
  padding: 10px 20px;
  &:hover {
    background-color: $accentHoverColor;
  }
}

#selected-menu-item-name {
  display: none;
}

.title {
  font-size: $titleFontSize;
  font-weight: 700;
  padding: 30px 0 40px;
}
.sub-title {
  font-size: $subtitleFontSize;
  font-weight: 700;
  color: $accentColor;
  padding-bottom: 10px;
}
.divider {
  border-bottom: 1px solid $lightColor;
  margin-bottom: 30px;
}
.table {
  border: 1px solid $lightColor;
  margin-bottom: 30px;
  &__row {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    border-bottom: 1px solid $lightColor;
    transition: $transition;
  }
  &__row-grey {
    background-color: rgba(0, 0, 50, 0.02);
  }
  &__row:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &__column {
    display: flex;
    width: 100%;
    height: 83px;
    padding: 8px;
  }
  &__column-img-box {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__column-name-box {
    display: flex;
    align-self: center;
    border-left: 1px solid $lightColor;
    border-right: 1px solid $lightColor;
  }
  &__column-price-box {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__img {
    max-width: 63px;
    max-height: 63px;
    cursor: pointer;
  }
  &__name {
    align-self: center;
    font-size: $midleFontSize;
    font-weight: 700;
  }
  &__price {
    align-self: center;
    font-size: $bigFontSize;
    text-align: center;
    font-weight: 700;
    color: $accentColor;
  }
}

// Paginations
.paginations {
  background-image: url("../img/bg/slider-bg-1.jpg");
  background-size: cover;
  background-position: bottom center;
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.852000175070028) 0%,
      transparent 100%
    );
  }
  &__title {
    font-size: 25px;
    color: $white;
    padding: 35px 0 20px;
  }
  &__items {
    display: flex;
    padding-bottom: 30px;
  }
  &__item {
    position: relative;
  }
  &__item + .paginations__item {
    margin-left: 40px;
  }
  &__item + .paginations__item::before {
    content: "";
    display: flex;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/down-arrow-white.svg");
    background-size: contain;
    position: absolute;
    color: $lightColor;
    top: 2px;
    left: -22px;
    transform: rotate(-90deg);
  }
  &__item-link {
    opacity: 0.6;
    display: flex;
    color: $white;
    transition: $transition;
    &:hover {
      color: $accentColor;
      text-decoration: underline;
    }
  }
  &__item-link-open:hover {
    color: $white;
    text-decoration: none;
  }
}

// Image and text block wrapper

.img-txt__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

// Text
.text-box {
  padding: 20px 0;
  &__accent {
    background-color: $submenuBgColor;
    box-shadow: 0 0 4px 2px rgb(85 85 85 / 50%);
    padding: 30px 20px;
    margin: 20px auto;
  }
  &__title {
    font-size: $titleFontSize;
    font-weight: 700;
    padding-bottom: 15px;
  }
  &__subtitle {
    font-size: $bigFontSize;
    font-weight: 700;
    padding-bottom: 15px;
    &.accent {
      color: $accentColor;
    }
  }
  &__list-box {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    padding-bottom: 15px;
  }
  &__list + .text-box__list {
    margin-left: 30px;
  }
  &__list-item {
    list-style: disc;
    margin-left: 25px;
    line-height: 2;
  }
  &__list-item span {
    font-weight: 700;
  }
  &__text {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  &__text-span {
    font-weight: 700;
  }
}

// Capacitors page

.capasitors-page {
  .text-box {
    &__list {
    }
    &__list-item {
      margin-bottom: 20px;
    }
  }
  .img-box {
    margin-left: 20px;
  }
  .img-box__img {
    max-width: 350px;
    object-fit: contain;
  }
}

.capasitors-page {
  .text-box {
    &__list {
    }
    &__list-item {
      margin-bottom: 20px;
    }
  }
  .img-box {
    margin-left: 20px;
  }
  .img-box__img {
    max-width: 350px;
    object-fit: contain;
  }
}

.text-box {
  &__title {
    max-width: 700px;
  }
  .img-box {
    margin-left: 20px;
    &__reverse {
      margin-left: 0;
      margin-right: 50px;
    }
  }
  &__btn-wrap {
    padding-top: 40px;
  }
  &__btn {
    padding: 20px 40px;
  }
}

.img-box__img {
  max-width: 350px;
  object-fit: contain;
}

// Buy

.buy {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 40px;
  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 75px 35px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.852000175070028) 0%,
      transparent 100%
    );
  }
  &__info {
    text-align: center;
  }
  &__info-title {
    font-size: $titleFontSize;
    color: $white;
    margin-bottom: 35px;
    text-align: center;
  }
  &__info-text {
    max-width: 700px;
    line-height: 1.5;
    color: $white;
    margin: 0 auto 35px;
    text-align: center;
  }
  &__info-btn {
    padding: 15px 43px;
    font-size: $bigFontSize;
    text-align: center;
    margin: 0 auto;
  }
  &__capacitors {
    background-image: url("../img/bg/buy.jpg");
  }
  &__main {
    background-image: url("../img/bg/buy.jpg");
  }
  &__switches {
    background-image: url("../img/bg/buy.jpg");
  }
  &__microchips {
    background-image: url("../img/bg/buy.jpg");
  }
  &__computer_boards {
    background-image: url("../img/bg/buy.jpg");
  }
  &__potentiometer {
    background-image: url("../img/bg/buy.jpg");
  }
  &__radiotubes {
    background-image: url("../img/bg/buy.jpg");
  }
  &__resistors {
    background-image: url("../img/bg/buy.jpg");
  }
}

// Contacts

.contacts {
  padding-bottom: 25px;
  &__info-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 0;
  }
  &__info-item {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  &__info-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $accentColor;
    position: relative;
  }
  &__info-icon svg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 19px;
  }
  &__info-icon svg path {
    fill: $white;
  }
  &__info-inner {
    padding-left: 20px;
    max-width: 200px;
    width: 100%;
  }
  &__info-title {
    font-size: $bigFontSize;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
  }
  a.contacts__phone-link {
    display: block;
    margin: 0 !important;
    text-align: center;
  }
  &__mail {
    text-align: center;
  }
  &__mail-link {
    color: $defaultColor;
    text-decoration: none;
    &:hover {
      color: $accentColor;
      text-decoration: underline;
    }
  }
  &__adress {
    text-align: center;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Cities

.cities {
  padding: 30px 0;
  &__list {
  }
  &__title {
    font-size: $titleFontSize;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
  }
  &__menu-item {
    margin-bottom: 15px;
  }
  &__menu-link {
  }
}

.mail {
  &__items {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
  }
  &__items-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &__items-2 {
    grid-template-columns: 2fr 1fr;
  }
  &__item-img-box {
    margin-right: 15px;
  }
  &__item-img-wrap {
    background-color: $accentColor;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-img-wrap svg path {
    fill: white;
  }
  &__text {
    display: flex;
    line-height: 1.5;
  }
}

.cities__text-box {
  .text-box {
    border-top: 1px solid $accentColor;
    padding-top: 40px;
    &__title {
      text-align: center;
      max-width: 100%;
    }
    &__text {
      font-size: $midleFontSize;
    }
  }
}

// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
  overflow: scroll;
  .modal {
    background: white;
    padding: 25px;
    border-radius: 5px;
    max-width: 850px;
    width: 100%;
    &__form-title {
      padding: 30px 0;
      font-weight: 700;
      font-size: $titleFontSize;
      text-align: center;
    }
    &__close-wrap {
      display: flex;
      justify-content: flex-end;
    }
    &__close {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    .callback__form-wrapper {
      padding: 0;
      margin: 0;
      box-shadow: none;
    }
  }
}

// Image resizer

#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
}
#magnify img {
  width: 100%;
}
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(../img/icons/cansel.png) no-repeat center center;
  background-size: 16px 16px;
}
@keyframes rota {
 25% { transform: rotate(360deg); }
}
#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// Table adaptive styles

@media screen and (max-width: $breakpoint992) {
  .contacts {
    &__info-box {
      grid-template-columns: 1fr;
    }
    &__info-inner {
      padding: 0;
    }
    &__info-item {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 20px;
    }
    &__info-item div {
      padding-bottom: 20px;
    }
    &__info-icon {
      width: 50px;
      height: 50px;
      padding-bottom: 20px;
    }
    &__info-icon svg {
      width: 36px;
      height: 36px;
      top: 7px;
      left: 7px;
    }
    &__phone-link {
      font-size: $defaultFontSize;
      display: block;
      text-align: center;
    }
  }
  .text-box {
    &__list-box {
      display: block;
    }
    &__list + .text-box__list {
      margin-left: 0;
    }
  }

  .mail {
    &__item {
      align-items: center;
    }
    &__items-3 {
      grid-template-columns: repeat(1, 1fr);
    }
    &__items-2 {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item-img-box {
      margin-right: 15px;
    }
    &__item-img-wrap {
      width: 30px;
      height: 30px;
    }
    &__item-img-wrap svg {
      width: 25px;
      height: 25px;
    }
  }
  .img-txt__wrapper.img-txt__wrapper-reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    .img-box {
      order: -1;
    }
    .text-box {
      margin: 0 auto;
      text-align: center;
    }
  }
  .modal__wrapper {
    .modal {
      &__form-title {
        font-size: $bigFontSize;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint768) {
  .table {
    &__row {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__name {
      font-size: $defaultFontSize;
    }
    &__price {
      font-size: $midleFontSize;
    }
  }

  // Image and text block wrapper
  .img-txt__wrapper {
    display: block;
    margin: 0 auto 30px;
    .text-box {
      max-width: 500px;
    }
    .img-box__img {
      width: 100%;
      display: flex;
      margin: 0 auto;
      object-fit: contain;
    }
  }
  .modal__wrapper {
    padding-top: 20px;
    .modal {
    }
    .callback__message {
      min-height: 70px;
    }
  }
}

@media screen and (max-width: $breakpoint480) {
  .paginations {
    &__items {
      display: none;
    }
  }

  .table {
    &__name {
      font-size: $smallFontSize;
    }
    &__price {
      font-size: $smallFontSize;
    }
    &__column {
      padding: 2px;
      height: 70px;
    }
  }

  .cities {
    &__menu-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: $breakpoint400) {
  .table {
    &__name {
      font-size: $microFontSize;
    }
    &__price {
      font-size: $microFontSize;
    }
  }
  .buy__info-btn {
    font-size: $defaultFontSize;
    padding: 10px 20px;
  }
}
