// Slider

.swiper-slide {
  min-height: 500px;
}

.swiper-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  min-height: 500px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.852000175070028) 0%,
    transparent 100%
  );
}

.swiper-info-box {
  max-width: 800px;
  margin-left: 100px;
}

.swiper-slide-one {
  background-image: url("../img/bg/slider-bg-1.jpg");
  background-size: cover;
  background-position: bottom center;
}
.swiper-slide-two {
  background-image: url("../img/bg/slider-bg-2.jpg");
  background-size: cover;
  background-position: bottom center;
}
.swiper-title {
  font-size: 40px;
  color: $white;
  font-weight: 700;
  margin-bottom: 20px;
}
.swiper-title-span {
  font-size: 25px;
  display: block;
  margin-top: 20px;
}
.swiper-text {
  font-size: $midleFontSize;
  color: $white;
}

// Table adaptive styles

@media screen and (max-width: $breakpoint768) {
  .swiper-info-box {
    margin-left: 0;
  }
  .swiper-title {
    font-size: 30px;
    text-align: center;
  }
  .swiper-title-span {
    font-size: 21px;
    text-align: center;
    padding: 20px 0 60px;
  }
  .swiper-text {
    font-size: $midleFontSize;
    line-height: 1.5;
    text-align: center;
  }
  .swiper-button-prev {
    left: 10px;
    top: 55%
  }
  .swiper-button-next {
    right: 10px;
    top: 55%
  }
}

@media screen and (max-width: $breakpoint480) {
  .swiper-title {
    font-weight: 700;
  }
  .swiper-title-span {
    font-size: 16px;
    display: block;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
}